.popup__close{
    width: 32px;
    height: 32px;
    background-image: url(../../../image/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: 0.3s;
    cursor: pointer;
    padding: 0;
}

.popup__close:hover{
    opacity: 0.6;
    transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__close {
        width: 20px;
        height: 20px;
        bottom: 0;
        top: -30px;
        right: 0px;
    }
  }